h1{padding-bottom: 10px !important;}
.project-img{margin-bottom: 10px !important;}
.seprate-pg{text-align: justify !important;}
.indstrial-img{margin-top: -5px !important;}
.list-head{margin-top:1px !important;}
.course-desc{margin-top: 16px !important;}
.plc-assis{margin-bottom: 5px !important;}
.elementry{
margin-top: 16px !important;
text-align:center !important;
}
.white-sp{white-space: pre !important}